/*


*/
/*1st page*/
#test{ background-image: url('https://s3.amazonaws.com/ooomf-com-files/kMh0QXZMQOmsIiQRQIlW_14701556285_aacce9be47_o.jpg');
       background-size:cover;
}
/* {font-family: 'Lobster', cursive;
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 1px 1px 1px #000, 
               3px 3px 5px gold;
}*/
#seconds { margin: 20px; 
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px gold;} 
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}
/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background-color: grey;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
/*


*/
/*2nd page*/
#dos{ background-image: url('https://s3.amazonaws.com/ooomf-com-files/WrZ1xIWJQY6UB8MEbWTd_IMG_9088_edt.jpg');
      background-size:cover;
}
#aboutMe{
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
   -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
font-size: 24px;
}
h2 {font-family: 'Lobster', cursive;
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 1px 1px 1px #000, 
               3px 3px 5px mediumturquoise;
margin: 15px;
padding: 10px;               
}
img{
  height: 250px;
width: 430px;
margin: 3px;
padding: 2px;
} /*


*/	
/*3rd page*/
#thres{ background-image: url('https://s3.amazonaws.com/ooomf-com-files/pHyYeNZMRFOIRpYeW7X3_manacloseup%20copy.jpg');
        background-size:cover;
}
#meGusta{
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
   -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
font-size: 24px;
}
h3 {font-family: 'Lobster', cursive;
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px mediumvioletred;
margin: 15px;
padding: 10px;
}

img{
  height: 250px;
width: 430px;
margin: 3px;
padding: 2px;
}  
#p1{margin: 2px 2px 2px 2px;
 height:81px;
 width:430px;
 display: inline-block;
  }
#p2{
height:81px;
 width:430px;
 display: inline-block;
  }
#p3{
height:81px;
 width:430px;
 display: inline-block;
}
/*


*/
/*4th page*/
#projects{ background-image: url('https://s3.amazonaws.com/ooomf-com-files/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg');
           background-size:cover;
}
h4 {font-family: 'Lobster', cursive;
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px mediumvioletred;
margin: 15px;
padding: 10px;
}           

#p4{ background-color:rgba(0, 0, 0, 0.5);
  color: white;
   -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
font-size: 24px;
}
} 

